/**************************************************************
* Description: CSS Style Sheet

* Author: Sydnee Owens

*School/Term:  University of Missouri-Columbia, Summer 2020

*Developed: June 27, 2020

*Tested:  July 8, 2020; Passed on Firefox and Chrome browsers.
**************************************************************/
h1 {color: darkred;font-family:inherit; font-size:30pt; margin-top:25px; margin-left: 25px; margin-right: 25px; width: 300px;  
                padding-left: 25px;
                padding-right: 1px;
                border: 2px solid darkred; background-color:#cc9999; color:darkred}
body {border: 3px dotted darkred; margin: 15px; background-color: #99cccc; padding: 10px}
h3 {color: darkred;font-family:inherit; font-size:20pt}
p {font-family:serif; font-size: 14pt; border: none; padding: 10px;}
#resume {text-align: center; font-family: inherit; font-size: 20pt; position:relative}
#bachelor {color: darkblue; font-size:14pt;}
#master {color: darkcyan; font-size:14pt;}
#copyright {font-size: 8pt;}
a {text-decoration: none; font-size: 10pt;}
img {float: right; padding: 10px; margin: 10px; border: solid darkred}
#email {height: 30px; width: 30px; border-top: 5px; padding: none; border: none; float: none}
#phone {height: 20px; width: 20px; border-top: 5px; padding: none; border: none; float: none}
footer {border-top: 5px solid darkred}
  .box {
                    width: 675px; 
                    height: 200px;
                    padding: 10px;
                    margin: 10px auto;
                    box-shadow: 0px 0px 10px 2px grey;
                    background-image: url(images/sunset-1373171_640.jpg);
                    background-size: cover;
                }
#header {
    width: 90%;
    max-width: 1024px;
}
main {
    width: 75%;
    padding: 15px;
}
aside { 
    width: 34.375%;
    padding: 15px;
    float: right;
}
#sideA {
    float: left; height: 75%; width: 34.375%; margin-left: 2em; padding: 10px; margin: 10px; margin-top: 0.25em;
}
#sideB {
    width: 34.375%; height: 75%; float: right; padding: 10px; margin: 10px; margin-top: 1em; 
}
@media screen and (max-width:500px) {
    body {
        width:100%; padding: 15px;
    }
}
@media screen and (max-width:320px) {
    body {
        width:320px
        }
    }
@media screen and (max-width:500px) {
    #header {
        width:100%;
    }
}
@media screen and (max-width:320px) {
    #header {
        width:320px
        }
    }