/**************************************************************
* Description: CSS Style Sheet

* Author: Sydnee Owens

*School/Term:  University of Missouri-Columbia, Summer 2020

*Developed: June 27, 2020

*Tested:  July 6, 2020; Passed on Firefox and Chrome browsers.
**************************************************************/
h1 {color: darkred;font-family:inherit; font-size:30pt; margin-top:25px; margin-left: 25px; margin-right: 25px; width: 300px;  
                padding-left: 25px;
                padding-right: 1px;
                border: 2px solid darkred; background-color:#cc9999; color:darkred}
body {border: 3px dotted darkred; margin: 15px; background-color: #99cccc}
h3 {color: darkred;font-family:inherit; font-size:20pt}
p {font-family:serif; font-size: 14pt;}
#resume {text-align: center}
#bachelor {color: darkblue; font-size:14pt;}
#master {color: darkcyan; font-size:14pt;}
#copyright {font-size: 8pt;}
a {text-decoration: none; font-size: 10pt;}
img {float: right; padding: 10px; margin: 10px; border: solid darkred}
li > a:hover {color:darkred; font-size: 14pt;}
footer {border-top: 5px solid darkred}