h1 {color: #990033;font-family:inherit; font-size:30pt}
h3 {color: #990033;font-family:inherit; font-size:20pt}
#text {font-family:serif; font-size: 14pt;}
#bachelor {color: darkblue; font-size:14pt;}
#master {color:cadetblue; font-size:14pt;}
#copyright {font-size: 8pt;}
a {text-decoration: none; font-size: 10pt;}
img {float: right;}
li > a:hover {color:darkred; font-size: 14pt;}